// -----------------------------------------------------------------------------
// Functions
// -----------------------------------------------------------------------------

// example:
// https://github.com/HugoGiraudel/sass-boilerplate/blob/master/stylesheets/abstracts/_functions.scss
