// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------


// Colors
//

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #11cdef;
$red:     #f5365c;
$orange:  #fb6340;
$green:   #2dce89;

// social/brands
$facebook:   #3b5999;
$twitter:    #55acee;
$youtube:    #cd201f;
$googleplus: #dd4b39;
$pinterest:  #bd081c;
$instagram:  #e4405f;
$bootstrap:  #7952b3;

$primary:    $orange;
$success:    $green;
$info:       $blue;
$danger:     $red;

$theme-colors: ();
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "success":    $success,
    "info":       $info,
    "danger":     $danger,
    "facebook":   $facebook,
    "twitter":    $twitter,
    "googleplus": $googleplus,
    "bootstrap":  $bootstrap,
  ),
  $theme-colors
);


// Options
//

$enable-shadows:                    true;


// Spacing
//

$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 2.25),
    6: ($spacer * 3),
    7: ($spacer * 3.75)
  ),
  $spacers
);


// Components
//

$border-radius:               .125rem;
$border-radius-lg:            .1875rem;
$border-radius-sm:            .1rem;

$box-shadow:                         0 0 .25rem rgba($black, .10), 0 .25rem .5rem rgba($black, .05);
$box-shadow-lg:                      0 0.02rem .5rem rgba($black, .10), 0 .5rem 1rem rgba($black, .05);

$transition-shadow:                  box-shadow .2s ease-in-out;


// Fonts
//

$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.25);
$font-size-sm:                ($font-size-base * .875);  // ... '14px'

$font-weight-light:                 300; // light
$font-weight-normal:                400; // regular
$font-weight-medium:                500; // medium
$font-weight-bold:                  700; // bold
$font-weight-bolder:                900; // black

$font-family-sans-serif:      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base:            $font-family-sans-serif !default;

$font-family-serif:               "Crimson Text", serif;
$font-family-brand:               $font-family-serif;

$headings-font-weight:        $font-weight-bolder;

$lead-font-size:              ($font-size-base * 1.125);
$lead-font-size-lg:           ($font-size-base * 1.25);
$lead-font-weight:            300;

$text-muted:                  lighten($gray-600, 10%);


// Buttons + Forms
//

$input-btn-padding-y:         .375rem;
$input-btn-padding-x:         .75rem;

$input-btn-padding-y-sm:      .25rem;
$input-btn-padding-x-sm:      .5rem;

$input-btn-padding-y-lg:      .5rem;
$input-btn-padding-x-lg:      1rem;


// Buttons
//

$btn-text-transform:                uppercase;
$btn-box-shadow:                    0 .125rem .3125rem 0 rgba($black, .2);

$btn-padding-y:                     $input-btn-padding-y;
$btn-padding-x:                     ($input-btn-padding-x * 2);
$btn-font-size:                     ($font-size-base * .875);
$btn-font-weight:                   $font-weight-bold;

$btn-padding-y-sm:                  $input-btn-padding-y-sm;
$btn-padding-x-sm:                  ($input-btn-padding-x-sm * 2);
$btn-font-size-sm:                  ($font-size-base * .8125);

$btn-padding-y-lg:                  $input-btn-padding-y-lg;
$btn-padding-x-lg:                  ($input-btn-padding-x-lg * 1.75);
$btn-font-size-lg:                  $font-size-base;
$btn-line-height-lg:                1.4375;


// Navbar
//

$navbar-padding-y:                  ($spacer / 2);
$navbar-nav-font-size:              $font-size-sm;
$navbar-nav-text-transform:         uppercase;
$navbar-nav-link-padding-x:         .75rem;
$navbar-nav-link-social-padding-x:  .33rem;
$navbar-toggler-font-size:          $font-size-lg;


// Products list
//

$product-list-margin-bottom:      ($spacer * 1.5);
$product-list-item-margin-bottom: ($spacer * 1);


// Cards
//

$card-spacer-y:                   .75rem;
$card-spacer-x:                   1.25rem;
$card-border-width:               0;
$card-border-radius:              $border-radius;
$card-bg:                         $white;
$card-shadow:                     $box-shadow-lg;
$card-icon-size:                  ($font-size-base * 3);
$card-link-text-transform:        uppercase;
$card-link-font-size:             $font-size-sm;
$card-link-font-weight:           $font-weight-bold;


// Footer
//

$footer-font-size:                $font-size-sm;
$footer-title-font-size:          $font-size-sm;
$footer-title-font-weight:        $font-weight-bold;

$footer-dark-bg:                  $gray-800;
$footer-dark-color:               $gray-500;
$footer-dark-link-color:          $gray-500;
$footer-dark-title-color:         $gray-100;
$footer-dark-hr:                  $gray-700;
$footer-dark-meta-color:          $gray-600;
$footer-dark-meta-link-color:     $gray-100;
