// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------


// Colors
//

$white:    #fff;
$black:    #000;

$blue:    #11cdef;
$red:     #f5365c;
$orange:  #fb6340;
$green:   #2dce89;

$primary: $orange;


// Options
//

$enable-shadows:                    true;


// Spacing
//

$spacer: 1rem;


// Components
//

$border-radius:               .125rem;
$border-radius-lg:            .1875rem;
$border-radius-sm:            .1rem;

$box-shadow:                         0 0 .25rem rgba($black, .10), 0 .25rem .5rem rgba($black, .05);

$transition-shadow:                  box-shadow .2s ease-in-out;


// Fonts
//

$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.25);
$font-size-sm:                ($font-size-base * .875);

$font-weight-light:                 300;
$font-weight-normal:                400;
$font-weight-bold:                  500;
$font-weight-bolder:                900;

$font-family-sans-serif:      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base:            $font-family-sans-serif !default;

$font-family-serif:               "Crimson Text", serif;
$font-family-brand:               $font-family-serif;

$headings-font-weight:              $font-weight-bolder;


// Buttons + Forms
//

$input-btn-padding-y:         .375rem;
$input-btn-padding-x:         .75rem;

$input-btn-padding-y-sm:      .25rem;
$input-btn-padding-x-sm:      .5rem;

$input-btn-padding-y-lg:      .5rem;
$input-btn-padding-x-lg:      1rem;


// Buttons
//

$btn-text-transform:                uppercase;
$btn-box-shadow:                    0 .125rem .3125rem 0 rgba($black, .2);

$btn-padding-y:                     $input-btn-padding-y;
$btn-padding-x:                     ($input-btn-padding-x * 2);
$btn-font-size:                     ($font-size-base * .875);
$btn-font-weight:                   $font-weight-bold;

$btn-padding-y-sm:                  $input-btn-padding-y-sm;
$btn-padding-x-sm:                  ($input-btn-padding-x-sm * 2);
$btn-font-size-sm:                  ($font-size-base * .8125);

$btn-padding-y-lg:                  $input-btn-padding-y-lg;
$btn-padding-x-lg:                  ($input-btn-padding-x-lg * 2);
$btn-font-size-lg:                  $font-size-base;
$btn-line-height-lg:                1.4375;


// Navbar
//

$navbar-padding-y:                  ($spacer / 2);
$navbar-nav-font-size:              $font-size-sm;
$navbar-nav-text-transform:         uppercase;
$navbar-nav-item-spacer:            1.5rem;
$navbar-toggler-font-size:          $font-size-lg;


// Brand
//

$brand-font-size:                 $font-size-lg;
$brand-logo-height:               ($brand-font-size * 1.5);
$brand-logo-width:                ($brand-font-size * 1.5);


// Products list
//

$product-list-margin-bottom:      ($spacer * 1.5);
$product-list-item-margin-bottom: ($spacer * 1);
