// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------


// Colors
//

$blue:    #11cdef;
$red:     #f5365c;
$orange:  #fb6340;
$green:   #2dce89;

$primary: $orange;


// Spacing
//

$spacer: 1rem;


// Fonts
//

$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.25);
$font-size-sm:                ($font-size-base * .875);

$font-family-sans-serif:      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base:            $font-family-sans-serif !default;

$font-family-serif:               "Crimson Text", serif;
$font-family-brand:               $font-family-serif;
$headings-font-family:            $font-family-serif;
$headings-font-weight:            600;


// Navbar
//

$navbar-padding-y:                ($spacer / 2);
$navbar-padding-x:                0;
$navbar-nav-item-spacer:          1.5rem;

$navbar-toggler-padding-y:          0;
$navbar-toggler-padding-x:          0;
$navbar-toggler-font-size:          $font-size-lg;


// Brand
//

$brand-font-size:                 $font-size-lg;
$brand-logo-height:               ($brand-font-size * 1.5);
$brand-logo-width:                ($brand-font-size * 1.5);


// Products list
//

$product-list-margin-bottom:      ($spacer * 1.5);
$product-list-item-margin-bottom: ($spacer * 1);
