// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------

.btn {
  text-transform: $btn-text-transform;
  font-weight: $btn-font-weight;
}

.btn__icon {
  + .btn__text {
    margin-left: .33em;
  }
}

.btn__text {
  + .btn__icon {
    margin-left: .33em;
  }
}


// Alternate buttons
//

.btn-outline-lightborder {
  @include button-outline-variant($body-color, $body-color, $white, $body-color);
  border-color: $gray-400;
}
