// -----------------------------------------------------------------------------
// Cards
// -----------------------------------------------------------------------------

.card {
  margin-bottom: $spacer;

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
}

.card-shadow {
  @include box-shadow($card-shadow);
}

.card-icon {
  font-size: ($font-size-base * 2.25);
}

.card-text {
  margin-bottom: $card-spacer-y;
}

.card-link {
  text-transform: $card-link-text-transform;
  font-size: $card-link-font-size;
  font-weight: $card-link-font-weight;
}
