// -----------------------------------------------------------------------------
// Sections
// -----------------------------------------------------------------------------

.section {
  padding-top: $section-spacer;
  padding-bottom: $section-spacer;
}

.section-header {
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: $section-spacer-inner;
}
