// -----------------------------------------------------------------------------
// Brand
// -----------------------------------------------------------------------------


.brand {
  display: flex;
  align-items: center;
}

.brand-logo {
  display: flex;
  height: $brand-logo-height;
  width: $brand-logo-height;
  margin-right: .3em;
  font-size: ($font-size-base * 1.1875);
  align-items: center;
  justify-content: center;
  background-color: $primary;
  color: $white;
}

.brand-name {
  font-weight: 500;
  color: $body-color;
  font-size: ($font-size-base * 1);
}

.brand-light {
  .brand-name {
    color: $white;
  }
}
