// -----------------------------------------------------------------------------
// Brand
// -----------------------------------------------------------------------------


.brand {
  display: flex;
  align-items: center;
}

.brand__logo {
  display: flex;
  height: $brand-logo-height;
  width: $brand-logo-height;
  margin-right: .3em;
  font-size: ($font-size-base * 1.3125);
  align-items: center;
  justify-content: center;
  background-color: $primary;
  color: $white;
}

.brand__company-name {
  font-weight: 500;
  color: $body-color;
  font-size: ($font-size-base * 1);
}
