// -----------------------------------------------------------------------------
// Brand
// -----------------------------------------------------------------------------


.brand {
  display: flex;
  flex-direction: column;
  line-height: 1.25;
}

.brand__name {
  font-weight: $font-weight-bold;
  color: $body-color;
  font-size: ($font-size-base * 1.375); // default: 22px
  letter-spacing: ($font-size-base * .0625); // default: 1px
}

.brand__profession {
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  font-size: ($font-size-base * .625); // default: 10px
  letter-spacing: ($font-size-base * .03125); // default: 0.5px
}
