// -----------------------------------------------------------------------------
// Navbar of the website
// -----------------------------------------------------------------------------


.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 0; // don't want to configure
  padding-right: 0; // don't want to configure
}

.navbar__collapse {
  flex-grow: 0;
}

.navbar__toggler {
  @extend .link;
  padding: 0; // don't want to configure

  @include hover-focus {
    outline: none;
  }
}

.navbar__nav {
  margin-left: -$navbar-nav-link-padding-x;
  margin-right: -$navbar-nav-link-padding-x;
}

.nav__item {
  font-weight: 500;
  font-size: $navbar-nav-font-size;
  text-transform: $navbar-nav-text-transform;
  text-align: right; // for mobile
}

.nav__link {
  color: $body-color;

  @include hover-focus {
    color: $link-hover-color;
    text-decoration: none;
  }
}

.nav__item_social {
  display: flex;
  justify-content: flex-end;

  .nav__link {
    &:first-child:not(:last-child) {
      padding-right: $navbar-nav-link-social-padding-x;
    }
    &:not(:first-child):not(:last-child) {
      padding-right: $navbar-nav-link-social-padding-x;
      padding-left: $navbar-nav-link-social-padding-x;
    }
    &:not(:first-child):last-child {
      padding-left: $navbar-nav-link-social-padding-x;
    }
  }
}
