// -----------------------------------------------------------------------------
// Navbar of the website
// -----------------------------------------------------------------------------


.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 0; // don't want to configure
  padding-right: 0; // don't want to configure
}

.navbar__collapse {
  flex-grow: 0;
}

.navbar__toggler {
  @extend .link;
  padding: 0; // don't want to configure

  @include hover-focus {
    outline: none;
  }
}

.navbar__nav {

  > li {
    font-weight: 500;
    font-size: $navbar-nav-font-size;
    text-transform: $navbar-nav-text-transform;

    > .nav-link {
      display: inline-block;
      color: $body-color;

      @include hover-focus {
        color: $link-hover-color;
        text-decoration: none;
      }
    }

    &:last-child {
      > .nav-link {
        padding-right: 0;
      }
    }
  }
}
