// -----------------------------------------------------------------------------
// Services section
// -----------------------------------------------------------------------------

.services {

}


// Card
//

.services__card {
  margin-bottom: $spacer; // mobile

  @include box-shadow($card-shadow);
  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
}

.services__card-icon {
  font-size: $card-icon-size;
}

.services__card-text {
  margin-bottom: $card-spacer-y;
}

.services__card-link {
  text-transform: $card-link-text-transform;
  font-size: $card-link-font-size;
  font-weight: $card-link-font-weight;
}
