<header class="header fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand-md">
      <a class="brand navbar-brand" href="#">
      <span class="brand__logo">
        <i class="fab fa-html5"></i>
      </span>
        <span class="brand__company-name">Company</span>
      </a>

      <button class="navbar__toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar__collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav navbar__nav">
          <li>
            <a href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li>
            <a href="#">About us</a>
          </li>
          <li>
            <a href="#">Services</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>

        <a href="//github.com/cichy380/html-starter-bs4-webpack/archive/master.zip" class="navbar__btn btn btn-sm btn-outline-primary">
        <span class="btn__icon btn__icon--left">
          <i class="fas fa-download"></i>
        </span>
          Download
        </a>
      </div>
    </nav>
  </div>
</header>
