<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-dark" href="category-01.htm">Laptops</a>
        <a class="p-2 text-dark" href="category-02.htm">Cars</a>
        <a class="p-2 text-dark" href="category-03.htm">Typewriter</a>
        <a class="p-2 text-dark" href="category-04.htm">Cameras</a>
        <a class="p-2 text-dark" href="category-05.htm">Mobile phones</a>
        <a class="p-2 text-dark" href="category-06.htm">Clocks</a>
        <a class="p-2 text-dark" href="category-07.htm">Bikes</a>
        <a class="p-2 text-dark" href="category-08.htm">Tablets</a>
        <a class="p-2 text-dark" href="category-09.htm">Consoles</a>
    </nav>
</div>
