<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-dark" href="category.htm">Laptops</a>
        <a class="p-2 text-dark" href="category.htm">Cars</a>
        <a class="p-2 text-dark" href="category.htm">Typewriter</a>
        <a class="p-2 text-dark" href="category.htm">Cameras</a>
        <a class="p-2 text-dark" href="category.htm">Mobile phones</a>
        <a class="p-2 text-dark" href="category.htm">Clocks</a>
        <a class="p-2 text-dark" href="category.htm">Bikes</a>
        <a class="p-2 text-dark" href="category.htm">Tablets</a>
        <a class="p-2 text-dark" href="category.htm">Consoles</a>
    </nav>
</div>
