<section class="py-7">
  <div class="container">
    <div class="row">
      <div class="col-md-8 align-self-center">
        <div class="topic">O MNIE</div>
        <h2>mgr Ania Wielanek</h2>
        <p class="lead">
          wykształecenie / doświadczenie / gdzie obecnie pracuje / nr fizjoterapeuty
        </p>
        <p>
          Ukończyłam fizjoterapię na ... w Łodzi. Od zawsze pasjonowała mnie praca z dziećmi, dlatego ... Każdego dnia uczę się od moich małych pacjentów pokory oraz radości nawet z tych najmniejszych rzeczy.
          Lorem ipsum dolor sit amet enim. Lorem ipsum dolor sit amet enim.
        </p>
        <p>
          Etiam ullamcorper. Suspendisse pellentesque. Maecenas malesuada elit lectus, malesuada ultricies, Curabitur ligula. Lorem ipsum dolor sit amet enim. Lorem ipsum dolor sit amet enim. Lorem ipsum dolor sit amet enim. Lorem ipsum dolor sit amet enim.
        </p>
      </div>

      <div class="col-md-4">
        <figure class="text-center m-0">
          <img src="//via.placeholder.com/300x400/37474f/fff" class="img-fluid" alt="">
        </figure>
      </div>
    </div>
  </div>
</section>
