<section class="certifications py-7 bg-gradient">
  <div class="container">
    <header class="row justify-content-md-center mb-5">
      <div class="col-md-7">
        <h2 class="text-center">Certifications</h2>
        <p class="lead text-center">
          Dokumenty potwierdzające kwalifikacje (doświadczenie zawodowe), sporządzone w języku polskim lub wraz z tłumaczeniem na język polski.
        </p>
      </div>
    </header>

    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="card-icon">
              <i class="far fa-sticky-note"></i>
            </div>
            <h6 class="card-title">Szkolenie z wad postawy</h6>
            <p class="card-text small">
              3 dniowy kurs zakończony egzaminem i certyfikatem
            </p>
            <p class="card-text small text-muted">
              <i class="fas fa-map-marker-alt"></i>
              Warszawa
              <span class="text-muted mx-1">/</span>
              <i class="fas fa-calendar-day"></i>
              2019
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="card-icon">
              <i class="far fa-sticky-note"></i>
            </div>
            <h6 class="card-title">Szkolenie z wad postawy</h6>
            <p class="card-text small">
              3 dniowy kurs zakończony egzaminem i certyfikatem
            </p>
            <p class="card-text small text-muted">
              <i class="fas fa-map-marker-alt"></i>
              Warszawa
              <span class="text-muted mx-1">/</span>
              <i class="fas fa-calendar-day"></i>
              2019
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="card-icon">
              <i class="far fa-sticky-note"></i>
            </div>
            <h6 class="card-title">Szkolenie z wad postawy</h6>
            <p class="card-text small">
              3 dniowy kurs zakończony egzaminem i certyfikatem
            </p>
            <p class="card-text small text-muted">
              <i class="fas fa-map-marker-alt"></i>
              Warszawa
              <span class="text-muted mx-1">/</span>
              <i class="fas fa-calendar-day"></i>
              2019
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="card-icon">
              <i class="far fa-sticky-note"></i>
            </div>
            <h6 class="card-title">Szkolenie z wad postawy</h6>
            <p class="card-text small">
              3 dniowy kurs zakończony egzaminem i certyfikatem
            </p>
            <p class="card-text small text-muted">
              <i class="fas fa-map-marker-alt"></i>
              Warszawa
              <span class="text-muted mx-1">/</span>
              <i class="fas fa-calendar-day"></i>
              2019
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="card-icon">
              <i class="far fa-sticky-note"></i>
            </div>
            <h6 class="card-title">Szkolenie z wad postawy</h6>
            <p class="card-text small">
              3 dniowy kurs zakończony egzaminem i certyfikatem
            </p>
            <p class="card-text small text-muted">
              <i class="fas fa-map-marker-alt"></i>
              Warszawa
              <span class="text-muted mx-1">/</span>
              <i class="fas fa-calendar-day"></i>
              2019
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="card-icon">
              <i class="far fa-sticky-note"></i>
            </div>
            <h6 class="card-title">Szkolenie z wad postawy</h6>
            <p class="card-text small">
              3 dniowy kurs zakończony egzaminem i certyfikatem
            </p>
            <p class="card-text small text-muted">
              <i class="fas fa-map-marker-alt"></i>
              Warszawa
              <span class="text-muted mx-1">/</span>
              <i class="fas fa-calendar-day"></i>
              2019
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="card-icon">
              <i class="far fa-sticky-note"></i>
            </div>
            <h6 class="card-title">Szkolenie z wad postawy</h6>
            <p class="card-text small">
              3 dniowy kurs zakończony egzaminem i certyfikatem
            </p>
            <p class="card-text small text-muted">
              <i class="fas fa-map-marker-alt"></i>
              Warszawa
              <span class="text-muted mx-1">/</span>
              <i class="fas fa-calendar-day"></i>
              2019
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
