<section class="cover">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <h1 class="cover__heading">Rehabilitacja dzieci</h1>
        <p class="cover__lead lead lead-lg">
          Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim.
        </p>
        <p class="cover__btns">
          <a href="//github.com/cichy380/html-starter-v2/archive/master.zip" class="btn btn-lg btn-primary text-transform-reset">
            <span class="btn__icon">
               <i class="fas fa-download"></i>
            </span>
            <span class="btn__text">
              Sprawdź sam
            </span>
          </a>
        </p>
      </div>
      <div class="col-md-6">
        <figure class="m-0">
          <img src="//via.placeholder.com/600x600/37474f/fff" class="img-fluid" alt="">
        </figure>
      </div>
    </div>
  </div>

  <footer class="cover__footer">
    <a href="#content" class="cover__scroll-down">
      <i class="fas fa-angle-double-down"></i>
    </a>
  </footer>
</section>
