<footer class="footer footer_theme-dark">
  <div class="container pt-5 pb-3">
    <div class="row">
      <div class="col-md-4">
        <div class="footer__brand mb-3">
          <img src="./../../images/logo-light.png" height="21" class="d-inline-block align-top mr-1" alt="">
          <span class="text-light font-weight-bold">HTML Starter</span>
        </div>

        <p class="mb-0">
          Lorem ipsum dolor sit amet enim. Etiam ullamco suspendisse pellentesque. Maecenas male suadaelit lectus
          felis, malesuada ultricies sit amet enim.
        </p>
      </div>

      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">
            <h3 class="footer__title">Tools</h3>
            <nav>
              <ul class="list-unstyled mb-0">
                <li class="footer__nav-item">
                  <a href="#">Webpack 4</a>
                </li>
                <li class="footer__nav-item">
                  <a href="#">Babel</a>
                </li>
                <li class="footer__nav-item">
                  <a href="#">Eslint</a>
                </li>
                <li class="footer__nav-item">
                  <a href="#">Dev Server</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-md-3">
            <h3 class="footer__title">Libraries</h3>
            <nav>
              <ul class="list-unstyled mb-0">
                <li class="footer__nav-item">
                  <a href="#">Bootstrap 4</a>
                </li>
                <li class="footer__nav-item">
                  <a href="#">jQuery</a>
                </li>
                <li class="footer__nav-item">
                  <a href="#">Font Awesome</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-md-3">
            <h3 class="footer__title">Features</h3>
            <nav>
              <ul class="list-unstyled mb-0">
                <li class="footer__nav-item">
                  <a href="#">Live reloading</a>
                </li>
                <li class="footer__nav-item">
                  <a href="#">Google Fonts</a>
                </li>
                <li class="footer__nav-item">
                  <a href="#">Sass Preprocessor</a>
                </li>
                <li class="footer__nav-item">
                  <a href="#">Autoprefixer</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-md-3">
            <h3 class="footer__title">Contact</h3>
            <p class="mb-2">
              340 Main Street LA, <br>CA 90291 United States
            </p>
            <p class="mb-2">
              Phone: +1 310-310-6000
            </p>
            <p class="mb-0">
              <a href="#" data-toggle="tooltip" title="Twitter"><i class="fab fa-twitter"></i></a>
              <span class="mx-2">/</span>
              <a href="#" data-toggle="tooltip" title="Facebook"><i class="fab fa-facebook"></i></a>
              <span class="mx-2">/</span>
              <a href="#" data-toggle="tooltip" title="Google+"><i class="fab fa-google-plus-g"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <hr class="footer__hr">

    <div class="footer__meta d-flex">
      <div class="mr-auto">
        <div>
          Change language:
          <a href="#">English <i class="fas fa-angle-down"></i></a>
        </div>
        <div>
          2019 &copy; HTML Starter created by cichy380 and licensed under MIT for better web
        </div>
      </div>
      <div>
        <nav>
          <a href="#">Contact</a>
          <span class="mx-2">/</span>
          <a href="#">Terms of Use</a>
          <span class="mx-2">/</span>
          <a href="#">Privacy Policy</a>
        </nav>
      </div>
    </div>
  </div>
</footer>
