<header>
  <div class="container">
    <nav class="navbar navbar-expand px-0">
      <span class="navbar-brand">
        <img src="./../../images/logo.jpg" width="30" height="30" class="d-inline-block align-top rounded" alt="">
        HTML Starter
      </span>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="//github.com/cichy380/html-starter-bs4-webpack/" class="nav-link text-dark px-0">
            <i class="fab fa-github"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
