<header class="header fixed-top">
  ${require('./browserupgrade.html')}

  <div class="container">
    <nav class="navbar navbar-expand-md">
      <a class="brand navbar-brand" href="#">
        <span class="brand__logo">
          <span class="brand__logo-img-bg">
            <i class="fas fa-heart"></i>
          </span>
          <span class="brand__logo-img-cover">
            <i class="fas fa-child"></i>
          </span>
        </span>
        <span class="brand__text">
          <span class="brand__name">
            Ania Wielanek
          </span>
          <span class="brand__profession">
            Fizjoterapeutka dziecięca
          </span>
        </span>
      </a>

      <button class="navbar__toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar__collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar__nav navbar-nav">
          <li class="nav__item">
            <a href="#oferta" class="nav__link nav-link">Oferta</a>
          </li>
          <li class="nav__item">
            <a href="#o-mnie" class="nav__link nav-link">O mnie</a>
          </li>
          <li class="nav__item">
            <a href="#kwalifikacje" class="nav__link nav-link">Kwalifikacje</a>
          </li>
          <li class="nav__item">
            <a href="#kontakt" class="nav__link nav-link">Kontakt</a>
          </li>
          <li class="nav__item nav__item_social">
            <a href="#" class="nav__link nav-link text-facebook" data-toggle="tooltip" title="Facebook">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
