<header class="header fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand-md">
      <a class="brand navbar-brand" href="#">
      <span class="brand__logo">
        <i class="fab fa-html5"></i>
      </span>
        <span class="brand__company-name">Company</span>
      </a>

      <button class="navbar__toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar__collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav navbar__nav">
          <li>
            <a href="#" class="nav-link">Home <span class="sr-only">(current)</span></a>
          </li>
          <li>
            <a href="#" class="nav-link">About us</a>
          </li>
          <li>
            <a href="#" class="nav-link">Services</a>
          </li>
          <li>
            <a href="#" class="nav-link">Contact</a>
          </li>
          <li>
            <a href="//twitter.com/marcindobroszek" class="nav-link text-twitter"  data-toggle="tooltip" title="Twitter">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
