<section class="services py-7 bg-gradient-revert">
  <div class="container">
    <header class="row justify-content-md-center mb-5">
      <div class="col-md-7">
        <h2 class="text-center">Oferta</h2>
        <p class="lead text-center">
          Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse pellentesque. Maecenas malesuada
          elit lectus, malesuada ultricies, Curabitur ligula.
        </p>
      </div>
    </header>

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="card-icon text-primary">
              <i class="fas fa-child"></i>
            </div>
            <h3 class="card-title">Oferta punkt #1</h3>
            <p class="card-text">
              Etiam ullamcorper. Suspendisse a enim pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie, ultricies porta urna commodo enim.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="card-icon text-primary">
              <i class="fas fa-child"></i>
            </div>
            <h3 class="card-title">Oferta punkt #2</h3>
            <p class="card-text">
              Etiam ullamcorper. Suspendisse a enim pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie, ultricies porta urna commodo enim.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="card-icon text-primary">
              <i class="fas fa-child"></i>
            </div>
            <h3 class="card-title card-title">Oferta punkt #3</h3>
            <p class="card-text card-text">
              Build responsive, mobile-first projects on the web with the world’s most popular front-end component library.
            </p>
            <a href="#" class="card-link">
              Read more<i class="fas fa-angle-right ml-1"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
