<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <title>Page Not Found</title>
  <meta name="description" content="">
  <%= require('html-loader!./partials/head.html') %>
</head>
<body>
<%= require('html-loader!./partials/browserupgrade.html') %>
<div class="d-flex flex-column h-100">
  <%= require('html-loader!./partials/header.html') %>

  <main class="d-flex h-100 align-items-center">
    <div class="container">
      <h1>Page Not Found</h1>
      <p class="lead">Sorry, but the page you were trying to view does not exist.</p>
    </div>
  </main>

  <%= require('html-loader!./partials/footer.html') %>
</div>
</body>
</html>
