<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div class="container">
    <%=require('./layouts/header.html')%>
    <%=require('./components/navbar.html')%>
</div>
<main role="main" class="container">
    <article>
        <img src="https://picsum.photos/200/200?image=133">
        <img src="https://picsum.photos/200/200?image=111">
        <img src="https://picsum.photos/200/200?image=99">
        <img src="https://picsum.photos/200/200?image=88">
    </article>
</main>
<div class="container">
    <%=require('./../layouts/footer.html')%>
</div>
</body>
</html>
