// Variables
//

// Fonts
//

$font-family-serif:           "Playfair Display", Georgia, "Times New Roman", serif;
$font-family-brand:           $font-family-serif;

// Products list
//

$product-list-margin-bottom:      ($spacer * 1.5);
$product-list-item-margin-bottom: $spacer;